:root {
    --background: #1a06b1;
}

.container {
    width: min(100% - 30px, 1080px);
    margin-inline: auto;
}

main {
    height: 100svh;
}

section {
    text-align: center;
}

/*--------------------------------------------------------*/
/*               Styles for the Hero Banner               */
/*--------------------------------------------------------*/

.hero {
    height: 100svh;
    
}

.hero-image {
    background-color: #1a06b1;
    background-image: url("../img/cookie-monster.jpg");
    background-size: cover;
    height: 100%;
    position: relative;
}

.hero-text {
    color: #fff;
    padding-top: 220px;
    font-size: 5rem;
    font-weight: 400;
    font-family: 'Sour Gummy', Arial, sans-serif;

}
/*--------------------------------------------------------*/
/*               Styles for the Dialog Box                */
/*--------------------------------------------------------*/

dialog {
    width: 310px;
    padding: 19px 25px 24px 25px;
    border-radius: 5px;
    margin: auto;
    animation: anim 0.25s linear;
    outline: none;
    border-style: none;
}
/* This is what we want for the background when the dialog box opens */
dialog::backdrop {
    background-color: rgba(164, 164, 164, 0.2);
    backdrop-filter: saturate(180%) blur(20px);
}

h2 {
    margin-top: 0;
    margin-bottom: 15px;
    text-align: left;
}

@keyframes anim {
    from {
        opacity: 0;
        translate: 0 -8px;
    } to {
        opacity: 1;
        translate: 0 0;
    }
}

.cookie {
    display: flex;
    justify-content: space-between; 
    align-items: center; 
}

.cookie p { 
    font-weight: bold;
    margin-right: 10px; 
}

.buttons {
    margin-top: 20px;
    text-align: right;
    padding: 10px;
    display: flex;
    flex: space-between;
    justify-content: center;
}

.buttons button {
    padding: 10px 25px;
    border-radius: 50px;
}

.accept-button {
    background-color: var(--background);
    color: #fff;
    margin-right: 40px;
}

.save-button {
    background-color: var(--background);
    color: #fff;
}


/*--------------------------------------------------------*/
/*        Styles for the Switch (box around slider)       */
/*--------------------------------------------------------*/

.switch {
    position: relative;
    /* display: inline-block; */
    width: 40px;
    height: 20px;
    /* top: 38px; */
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}


/*--------------------------------------------------------*/
/*                 Styles for the Sliders                 */
/*--------------------------------------------------------*/


.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #b9b9b9;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 15px;
    width: 15px;
    left: 2px;
    bottom: 2px;
    background-color: #fff;
    transition: .4s;
}

input:checked + .slider {
    background-color: #5840de;
}

input:focus + .slider {
    box-shadow: 0 0 1px #7561e4;
}

input:checked + .slider:before {
    transform: translateX(20px);
}

.slider.round {
    border-radius: 10px;
}

.slider.round:before {
    border-radius: 50%;
}
